@charset "ISO-8859-1";

body{
/*	background-color: black;*/
background-image:url("../images/images.jpeg") ;
object-fit: cover;
background-clip: border-box;
background-size: cover;
background-position: center;

}

header{
	    margin-bottom: 20px;
}

nav{
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.logo{
	font-size: 2rem;
}
.logo a{
	text-decoration: none;
	color: khaki;
}

.navsLink{
	width: 37%;
}

.navsLink ul{
	color: red;
	display: flex;
	list-style: none;
	    display: flex;
    justify-content: flex-start;
	
	
}
#search{
	    border: 0;
    width: 17rem;
    height: 2.1rem;
    border-radius: 3px;
    padding-left: 8px;
        border-radius: 17px;
}

.navsLink ul a{
	text-decoration: none;
    color: unset;
}

.navsLink ul li{
	    padding-right: 2rem;
	font-size: 1.4rem;
	cursor: pointer;
}

.navsLink ul li:hover{
	color: darksalmon;
}

.toggleNav{
	display: none;
}

@media (max-width: 768px){
	.navsLink{
		display: none;
	}
	.toggleNav{
		display: block;
		
	}
	.toggleNav img{
		width: 35px;
	}
	nav{
		    justify-content: space-between;
    padding: 0 15px 0 15px;
	}
}

.toggleMenue{
	height: 0;
	overflow: hidden;
}

.toggleMenue ul{
	    list-style: none;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    
    
}

.isOpen{
	height: 200px;
}

.toggleMenue ul li{
	    padding: 5px;
	    font-size: large;
}

.toggleMenue ul li:hover{
	color: darksalmon;
}
