<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="layout(content)">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/base.css">

</head>
<body>
	<header>
		<nav>
			<div class="logo"><a href="/v1/"> VedantMovies </a></div>

			<div class="navsLink">
				<ul>
					<li><a href="/v1/">Home</a></li>
					<li><a href="/v1/about">About</a></li>
					<li><a href="/v1/contact">Contact</a></li>
					<li id="admin" sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">admin</a></li>
				</ul>
			</div>
			
			<div id="searchCont" class="searchCont">
				<input type="text" id="search" placeholder="Search Movie">
				<button class="sortBy" id="sortBy" type="submit">
        <img src="/images/sortBy.png"  alt="buttonpng" border="0" />
      </button>
      
				
			</div>
			
			<div class="navsLink">
				
					<ul  sec:authorize="!isAuthenticated()">
					<li><a href="/v1/login">login</a></li>
					<li><a href="/v1/signup">Signup</a></li>
				</ul>
					
				 
				
				
					<ul  sec:authorize="isAuthenticated()">
					<li><a href="/logout">logout</a></li>
					<li>Hii, [[${userFName}]]</li>
				</ul>
					
							
			</div>
			<div id="toggleBtn" class="toggleNav">
				<img src="images/list.svg" />
			</div>
			
			
		</nav>
		<hr style="
    background-color: white;
    /* width: 32px; */
    height: 0.3px;
">
		<div id="toggleMenue" class="toggleMenue">
				<ul>
					<li><a href="/v1/">Home</a></li>
					<li><a href="/v1/">About</a></li>
					<li>Contact</li>
					<li><a href="/v1/login">Login</a></li>
					<li><a href="/v1/signup">Signup</a></li>
				</ul>
			</div>
			
			<div id="dropdown-menu" class="dropdown-menu dropdown-menu-right" >
           <ul class="category_filters" >
            <li >
             <input class="cat_type category-input" data-label="All" onchange="handleRadioChange(this)" id="sortByReleaseDate" value="sortByReleaseDate" name="radios" type="radio" checked ><label for="all" >Release Date</label>
            </li>
            <li >
             <input type="radio" name="radios" id="sortByPopularity" onchange="handleRadioChange(this)" value="sortByPopularity" ><label class="category-label" for="sortByPopularity" >Popularity</label>
            </li>
            
            <li >
             <input type="radio" name="radios" id="sortByVoteCount" onchange="handleRadioChange(this)" value="sortByVoteCount" ><label class="category-label" for="sortByVoteCount" >Vote Average</label>
            </li>
            
           </ul>
        </div>


	</header>

	
	<div th:replace="${content}">
		
	</div>
<script src="/js/base.js"></script>

</body>
</html>