<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="base::layout(~{::section})">
<head>
	<meta charset="ISO-8859-1">
	<title>Movies Website</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">


</head>

<body>
		
	<section>
		<span id="spanMovie" th:text="${session.movieSize}"></span>
		<link rel="stylesheet" href="/css/index.css">

	<main>
		<div class="container">
			<div id="cards" class="cards">
				
			</div>
			
			<div  class="pageNumber">
				<p  id="prev">previos</p>
				<p id="next">next
				</p>
			</div>
			
		</div>
	</main>
<script th:inline="javascript" src="/js/index.js"></script>
</section>
</body>

</html>