<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Movies Website</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/css/index.css">
	




</head>

<body>
	<header>
		<nav>
			<div class="logo"><a href="/"> VedantMovies </a></div>

			<div class="navsLink">
				<ul>
					<li>home</li>
					<li>about</li>
					<li>contact</li>
				</ul>
			</div>
			
			<div class="navsLink">
				<ul>
					<li>LogIN</li>
					<li>SignIN</li>
				</ul>
			</div>
			<div id="toggleBtn" class="toggleNav">
				<img src="images/list.svg" />
			</div>
			
			
		</nav>
		<div id="toggleMenue" class="toggleMenue">
				<ul>
					<li>home</li>
					<li>about</li>
					<li>contact</li>
					<li>LogIN</li>
					<li>SignIN</li>
				</ul>
			</div>


	</header>

	<main>
		<div class="container">
			<div class="cards">
				<div class="card">
					<div class="top"> Title of the card </div>
					<div class="mid">Hi my name is vedant . I am 22 years old. And I love coding my own stuff
						When using background-clip: text check that the contrast ratio between the background color and the color of the text placed over it is high enough that people experiencing low vision conditions will be able to read the content of the page.
					</div>
					<div class="foot">Footer Of the card</div>
					<button class="cardBtn"> Show</button>
				</div>
				
				<div class="card">
					<div class="top"> Title of the card </div>
					<div class="mid">Hi my name is vedant . I am 22 years old. And I love coding my own stuff</div>
					<div class="foot">Footer Of the card</div>
					<button class="cardBtn">Show</button>
				</div>
				
				<div class="card">
					<div class="top"> Title of the card </div>
					<div class="mid">Hi my name is vedant . I am 22 years old. And I love coding my own stuff</div>
					<div class="foot">Footer Of the card</div>
					<button class="cardBtn">Show</button>
				</div>
				
				<div class="card">
					<div class="top"> Title of the card </div>
					<div class="mid">Hi my name is vedant . I am 22 years old. And I love coding my own stuff</div>
					<div class="foot">Footer Of the card</div>
					<button class="cardBtn">Show</button>
				</div>
				
				<div class="card">
					<div class="top"> Title of the card </div>
					<div class="mid">Hi my name is vedant . I am 22 years old. And I love coding my own stuff</div>
					<div class="foot">Footer Of the card</div>
					
					<button class="cardBtn">Show</button>
				</div>

			</div>

		</div>
	</main>
<script src="/js/index.js"></script>
</body>

</html>